@import "var";

$p: ".#{$prefix}-";

#{$p}button {
  $button: &;
  position: relative;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: none;
  height: 36px;
  min-width: 88px;
  font-size: 14px;
  font-weight: 500;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--c2);
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    will-change: opacity;
  }
  &:hover,
  &:active {
    &:after {
      opacity: 0.8;
    }
  }
  &:disabled {
    cursor: not-allowed;
  }
  &#{&}--flat {
    color: var(--c2);
    box-shadow: none;
    &:after {
      background-color: currentColor;
      opacity: 0;
    }
    &:hover {
      &:after {
        opacity: 0.3;
      }
    }
  }
  &#{&}--icon {
    box-shadow: none;
    border-radius: 50%;
    overflow: hidden;
    width: 36px;
    min-width: 0;
    padding: 0;
  }
  &#{&}--round {
    border-radius: 28px;
  }
  &#{&}--active {
    color: #fff;
    &:after {
      background: var(--c2);
      opacity: 1;
    }
  }
  #{$p}container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  &#{&}--error {
    &#{$button}--flat {
      color: var(--error) !important;
    }
  }
  &#{&}--small {
    $width: 24px;
    height: $width;
    &#{$button}--icon {
      width: $width;
    }
  }
}
