@import "var";

$p: ".#{$prefix}-";

#{$p}comment-wrap {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  #{$p}comment {
    display: flex;
    #{$p}left {
      flex: none;
      #{$p}avatar {
        border-radius: 50%;
        width: 8px * 6;
      }
    }
    #{$p}right {
      flex: 1;
      margin-left: 16px;
      #{$p}top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #{$p}info {
          #{$p}nick {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: var(--c1);
            font-size: 16px;
            font-weight: bold;
          }
          #{$p}to {
            cursor: pointer;
            font-style: oblique;
            font-size: 13px;
          }
          #{$p}date {
            color: var(--c4);
            font-size: 12px;
          }
        }
      }
      #{$p}content {
        margin-top: 16px;
        font-size: 16px;
        a {
          color: var(--c1);
          text-decoration: none;
        }
      }
      #{$p}reply {
        align-self: flex-end;
      }
    }
  }
  & & {
    width: calc(100% - 16px);
    #{$p}comment {
      #{$p}left {
        #{$p}avatar {
          width: 8px * 4;
        }
      }
    }
  }
}
