@import "./form.scss";
@import "./comment.scss";
@import "./button.scss";
@import "./svg.scss";
@import "./app.scss";

.modis {
  font-size: 14px;
  color: var(--c5);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
  --primary: #1867c0;
  --error: #ff5252;
  --c1: #26baee;
  --c2: #1a73e8;
  --c3: #fff4e0;
  --c4: #bbb;
  --c5: #777;
  &.modis--auto {
    @media (prefers-color-scheme: dark) {
      --c3: #1e1e1e;
      --c5: #fff;
    }
  }
  &.modis--dark {
    --c3: #1e1e1e;
    --c5: #fff;
  }
}
